*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica neue;
}
html,
body{
  height: 100%;
  width: 100%;
}

.Card{
  background: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.Navbar{
  background: blue;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}