*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body{
  height: 100%;
  width: 100%;
}

button{
  padding: 10px 20px;
  margin: 20px;
  background-color: rgb(121, 149, 158);
  border-radius: 5px;
}

h1{
  padding: 10px 70px;
  margin: 20px;
  background-color: rgb(107, 108, 111);
  border-radius: 5px;
  width:fit-content;
  font-size: 100px;
 
}
